.cardSection {
  margin-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc {
  margin-top: 0;
  margin-bottom: 50px;
}
.cardContainer {
  display: flex;
  gap: 15px;
}
.cardTitle {
  margin-top: 30px;
  margin-bottom: 10px;
}
.cardDescription {
  margin-bottom: 10px;
  margin-top: 0px;
}
.oldCardPrice {
  text-decoration: line-through;
  margin-right: 25px;
  color: red;
}
